html {
	font-family: Helvetica;
	font-size: medium;
	color: #361500;
	background-color: #6699cc;
	padding-left: 20%;
	padding-right: 20%;
	padding-top: 2%;
	padding-bottom: 2%;
}

h1 {
	font-family: Verdana;
	font-weight: bold;
	text-align: center;
}

h2 {
	font-weight: bold;
	text-decoration: underline;
}

h3 {
	margin: 0;
}

h4 {
	font-weight: lighter;
	margin: 0;
}

a:link.aligned {
	display: block;
	text-align: center;
}

img.displayed {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

p.aligned{
	text-align: center;
}